<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRZBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFD1268014EBB7D700042533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD1269014EBB7D800042533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6AD2D561A20D580004A13ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6AD2D6E1A20D580004A13ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
